appdirs==1.4.4
asgiref==3.4.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.5.30
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
distlib==0.3.2
Django==3.2.7
django-cors-headers==3.8.0
fuzzywuzzy==0.18.0
html5lib==1.1
jeepney==0.6.0
jieba==0.42.1
keyring==21.8.0
lockfile==0.12.2
msgpack==1.0.2
numpy==1.21.2
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.7.0
poetry==1.1.6
poetry-core==1.0.3
ptyprocess==0.7.0
pylev==1.4.0
pypinyin==0.42.0
pytz==2021.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
shellingham==1.4.0
sqlparse==0.4.1
tomlkit==0.7.2
virtualenv==20.4.7
webencodings==0.5.1
